* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    background-image: url('./assets/background.png');
    color: #fff
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 100%;
    max-width: 330px;
    background-color: #212121;
    border-radius: 5px;
    padding: 20px;

    h2 {
        text-align: center;
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login__input {
    border: none;
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #121212;
    color: #fff;
    outline: none;
    border-radius: 5px;
}

.login__input:focus {
    outline: 2px solid #fff;
}

.login__button {
    border: none;
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #ddd;
    cursor: pointer;
    color: #121212;
}

.login__button:hover {
    background-color: #fff;
}

.chat {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.chat__message {
    flex-grow: 1;
    padding: 30px 30px 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    div {
        padding: 10px;
        width: 100%;
        max-width: 250px;
        font-size: 0.9rem;
        font-weight: 500;
        margin-bottom: 15px;
        line-height: 22px;
    }
}

.chat__form {
    display: flex;
    padding: 15px 20px;
    gap: 10px;
    background-color: #191919;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat__input {
    flex-grow: 1;
    border: none;
    padding: 15px;
    font-size: 1rem;
    background-color: #212121;
    color: #fff;
    outline: none;
    border-radius: 8px;
}

.chat__button {
    border: none;
    background: none;
    cursor: pointer;

    img {
        width: 2rem;
    }
}

.message__self {
    background-color: #fff;
    color: #121212;
    border-radius: 10px 10px 0 10px;
    align-self: flex-end;
}

.message__other{
    background-color: #333;
    color: #fff;
    border-radius: 10px 10px 10px 0px;
    align-self: flex-start;
}

.message__sender{
    display:block;
    margin-bottom: 5px;
    font-weight: 700;
    color: rgb(255, 242, 0);
}